
{% set current_path = path('<current>') %}

{% if '/node' in current_path and '/edit' in current_path %}
  {# do not attach #}
{% elseif '/layout-paragraphs-builder' in current_path and '/edit' in current_path %}
  {# do not attach #}
{% else %}
  {{ attach_library('localgov_map_component/localgov_map_component') }}
{% endif %}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.field_p_map_title %}
      <h2>{{ content.field_p_map_title }}</h2>
    {% endif %}
    {% block content %}
      {{ content|without('field_p_map_title') }}
    {% endblock %}
  </div>
{% endblock paragraph %}
